# This file contains pin mappings for the Creality Ender 5 Plus.

# Ender 5 Plus using an SKR 1.4 Turbo and TMC2208s.

# This config is also set up for DualZ as well as a filament rounout sensor and BL Touch.



[tmc2208 stepper_x]

uart_pin: P1.10

run_current: 0.800

hold_current: 0.500

stealthchop_threshold: 250



[stepper_x]

step_pin: P2.2

dir_pin: !P2.6

enable_pin: !P2.1

microsteps: 16

rotation_distance: 40

endstop_pin: P1.29

position_endstop: 360

position_min: 0

position_max: 360

homing_speed: 50

homing_retract_dist: 5



[tmc2208 stepper_y]

uart_pin: P1.9

run_current: 0.800

hold_current: 0.500

stealthchop_threshold: 250



[stepper_y]

step_pin: P0.19

dir_pin: !P0.20

enable_pin:! P2.8

microsteps: 16

rotation_distance: 40

endstop_pin: P1.28

position_endstop: 360

position_min: 0

position_max: 360

homing_speed: 50

homing_retract_dist: 5



[tmc2208 stepper_z]

uart_pin: P1.8

run_current: 0.650

hold_current: 0.450

stealthchop_threshold: 30



[stepper_z]

step_pin: P0.22

dir_pin: !P2.11

enable_pin: !P0.21

endstop_pin: probe:z_virtual_endstop

microsteps: 16

rotation_distance: 4

position_min: -2.75

position_max: 410.75

homing_speed: 10.0



[tmc2208 stepper_z1]

uart_pin: P1.1

run_current: 0.650

hold_current: 0.450

stealthchop_threshold: 30



[stepper_z1]

step_pin: P1.15

dir_pin: !P1.14

enable_pin: !P1.16

microsteps: 16

rotation_distance: 4



[tmc2208 extruder]

uart_pin: P1.4

run_current: 0.350

hold_current: 0.250

stealthchop_threshold: 5



[extruder]

step_pin: P2.13

dir_pin: !P0.11

enable_pin: !P2.12

microsteps: 16

rotation_distance: 4.63 ##Change this for your printer. I'm using an orbiter not a BMG ##

nozzle_diameter: 0.400

filament_diameter: 1.750

max_extrude_only_distance: 750.0

max_extrude_only_velocity: 75.0

max_extrude_only_accel: 1000.0

pressure_advance: 0.202

heater_pin: P2.7

sensor_type: EPCOS 100K B57560G104F

sensor_pin: P0.24

control: pid

pid_kp = 26.057

pid_ki = 1.316

pid_kd = 128.982

min_extrude_temp: 15

min_temp: 5

max_temp: 265





[bltouch]

sensor_pin: ^P0.10 #Probe

control_pin: P2.0 #SERVOS

stow_on_each_sample: False

probe_with_touch_mode: True

set_output_mode: 5V

x_offset: -30.4

y_offset: -0

z_offset: 2.0

speed: 4.0

samples: 2

sample_retract_dist: 3.0

pin_up_touch_mode_reports_triggered: False



[safe_z_home]

home_xy_position: 180,180

speed: 80.0

z_hop: 10.0

z_hop_speed: 5.0



[bed_mesh]

speed: 120

horizontal_move_z: 10

mesh_min: 50, 50

mesh_max: 300, 300

probe_count: 5,5

fade_start: 1

fade_end: 10

[z_tilt]
z_positions:
  -18.4,180
  378.4,180
  
points:
  32,180
  360,180
  
speed: 50

horizontal_move_z: 5

retries: 5

retry_tolerance: 0.05

[heater_bed]

heater_pin: P2.5

sensor_type: EPCOS 100K B57560G104F

sensor_pin: P0.25

control = pid

pid_kp = 69.343

pid_ki = 1.016

pid_kd = 1183.162

min_temp: 5

max_temp: 140



[fan]

pin: P2.3

[printer]

kinematics: cartesian

max_velocity: 200

max_accel: 3000

max_accel_to_decel:3000

max_z_velocity: 10

max_z_accel: 100

[mcu]

serial: /dev/serial/by-id/usb-Klipper_lpc1769_0A80000AA99869AF0813425EC32000F5-if00

[virtual_sdcard]
path: ~/gcode_files

[pause_resume]

[display_status]

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %} 
  
[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}
  
[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE

[gcode_macro z_tilt]
gcode:
  Z_TILT_ADJUST

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.001713, 0.021088, -0.009537, -0.021412, -0.032037
#*# 	  0.021713, 0.036713, 0.016713, 0.001088, -0.015162
#*# 	  0.041088, 0.073588, 0.057963, 0.034838, -0.006412
#*# 	  0.031713, 0.074213, 0.069213, 0.037963, 0.004838
#*# 	  0.074213, 0.106713, 0.077963, 0.056713, 0.030463
#*# tension = 0.2
#*# min_x = 50.0
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 50.0
#*# x_count = 5
#*# max_y = 300.0
#*# mesh_x_pps = 2
#*# max_x = 300.0
